.card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.3s;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cert_title {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 50px;
    color: #657ba7;
    margin-top: 50px;
    margin-bottom: 40px;
}

.card_body{
    font-size: 15px;
    font-weight: 400;
    word-spacing: 2px;
    color:#46536e;
}
.card_image{
    width:60%;
}
/* only for mobiles */
@media screen and (min-width:320px) and (max-width:640px)
{
    .cert_title {
        font-family: sans-serif;
        font-weight: 750;
        font-size: 25px;
        color: #657ba7;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    
    .card_body{
        font-size: 12px;
        font-weight: 300;
        word-spacing: 1.5px;
        color:#46536e;
    }
}