.full-page-bg {
    height: 300px;
    width: 500px;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}


h1{
    font-size: 40px;
    text-align: center;
    color: blue;
}

.product_data p {
    font-size: 24px;
    font-weight: 400;
    word-spacing: 2px;
}
.img_class {
    width: 250px;
    height: 250px;
}
